body {
	background-image: url('../images/website-bg-white-small.png');
	background-repeat: no-repeat;
}

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-light;
	padding-top: 30px;
	color: @gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
